*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background-color: #f8f1d8;
  background-image: url("../images/home_randalera.jpg");
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.site-header {
  position: relative;
}

.logo {
  position: absolute;
  top: 0;
  left: 50px;
  z-index: 1;
}

.logo h1 {
  margin: 0;
  line-height: 0;
}

.logo img {
  display: block;
  width: 189px;
  height: auto;
}

@media (max-width: 1023px) {
  body {
    background-size: 110%;
  }
}

@media (max-width: 767px) {
  body {
    background-image: url("../images/home_randalera_1000.jpg");
  }
}

@media (max-width: 559px) {
  body {
    background-position: center 80px;
  }
}

@media (min-width: 560px) and (max-width: 1023px) {
  body {
    background-position: center 40px;
  }
}

@media (max-width: 481px) {
  .logo {
    top: -3px;
    left: 10px;
  }

  .logo img {
    width: 115px;
  }
}

@media (max-width: 319px) {
  .logo {
    display: none;
  }
}
